/* home */
.hover {
  display: inline-block;
  color: var(--color-p3);
  position: relative;
  /* padding: 16px 0; */
}
.hover:hover {
  color: var(--color-p2);
  transition: 0.3s;
}
.hover::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--color-p2);
  position: absolute;
  margin-top: 33px;
}
.hover:hover::after {
  width: 100%;
  opacity: calc(30%);
  transition: 0.3s;
  transition-timing-function: linear;
}
.hover.ativo::after {
  width: 100%;
  opacity: calc(100%);
  background-color: var(--color-p3);
}

.hover-logo {
  display: inline-block;
  position: relative;
  transition: 0.4s;
}
.hover-logo:hover {
  transition: 0.4s;
  transform: scale(1.3);
}
/* content explorer */
.content-explore-bg {
  display: grid;
  width: 200px;
  height: 200px;
  justify-self: end;
  transition: 0.4s;
  border-radius: 50%;
}
.content-explore-bg:hover {
  background-color: hsla(0, 0%, 59%, 0.349);
  transition: 0.4s;
  transform: scale(1.3);
}
